<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="HR_DBConnectionString" connectionString="Data Source=172.30.200.131\sdd_db;Initial Catalog=HR_DB;Persist Security Info=True;User ID=sa;Password=sapsad"
            providerName="System.Data.SqlClient" />
        <add name="hrdbConnectionString" connectionString="Data Source=172.30.7.163;Initial Catalog=hrdb;User ID=hradmin;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
